@charset "utf-8";
/* CSS Document */
.igit_success
{
	-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#D0EE99;
border-bottom-color:#8FD401;
border-bottom-style:solid;
border-bottom-width:2px;
border-left-color-ltr-source:physical;
border-left-color-rtl-source:physical;
border-left-color-value:#8FD401;
border-left-style-ltr-source:physical;
border-left-style-rtl-source:physical;
border-left-style-value:solid;
border-left-width-ltr-source:physical;
border-left-width-rtl-source:physical;
border-left-width-value:2px;
border-right-color-ltr-source:physical;
border-right-color-rtl-source:physical;
border-right-color-value:#8FD401;
border-right-style-ltr-source:physical;
border-right-style-rtl-source:physical;
border-right-style-value:solid;
border-right-width-ltr-source:physical;
border-right-width-rtl-source:physical;
border-right-width-value:2px;
border-top-color:#8FD401;
border-top-style:solid;
border-top-width:2px;
border-left-color:#8FD401;
border-left-style:solid;
border-left-width:2px;
border-right-color:#8FD401;
border-right-style:solid;
border-right-width:2px;
color:#58792E;
font-size:15px;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:2px;
padding-left:15px;
padding-right:15px;
padding-top:2px;

}
.form_table_igit_tooltip
{
border-collapse:collapse;
clear:both;
margin-bottom:-8px;
margin-top:0.5em;
width:100%;border-collapse:collapse;
clear:both;
margin-bottom:-8px;
margin-top:0.5em;
width:100%;
}
.form_table_igit_tooltip th
{
	width:28% !important;
}
.form_table_igit_tooltip th {
color:#222222;
text-shadow:0 1px 0 #FFFFFF;
}
.form_table_igit_tooltip th {
padding:10px;
text-align:left;
vertical-align:top;
width:200px;
}

.form_table_igit_tooltip td {
font-size:11px;
line-height:20px;
margin-bottom:9px;
padding:8px 10px;
}